doctype 5
style
  * { font-size: 1em; margin: 0; padding: 0; }
  body { line-height: 1.6; font-size: 10pt; font-family: sans-serif; color: #606060; }
  .error { padding: 20px 10px; margin: 50px auto; text-align: center; border: solid 1px #ddd; max-width: 300px; }
  .error h1 { color: #d53; font-size: 1.1em; }

.error
  h1 Sorry, something went wrong.
  p We'll look into in as soon as we can!
